body {
  background-color:#F8F8F8;
  font-family:'Open Sans', sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:1.2em;
  margin:15px;
}

#frame_counter {
  position:absolute;
  top:10px;
  left:10px;
  border:solid 2px;
  border-radius:4px;
}

#webgl_host {
  position:relative;
  width:800px;
  height:600px;
}
